#body{
    background-color: #E8E8E8;
    color: black;
}
#nav-kanan {
    width: 200px;
    margin-right: 40px;
    height: 40px;
    float: right;
}
.navkanan-search-box {
    display: flex;
    margin-top: 15px;
    align-items: center;
    background: #ffffff;
    padding: 8px 12px;
    border-radius: 15px;
    width: 180px;
}
.navkanan-search-box input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    margin-left: 8px;
    flex: 1;
    font-family: "Poppins", serif;
    font-style: normal;
}
.navkanan-search-box button {
    border: none;
    background: transparent;
    outline: none;
    font-size: 5px;
    margin-top: 2px;
    margin-right: auto;
    margin-left: 4px;
    flex: 1;
    fill: #868585;
}

#nav-kiri {
    display: flex;
    flex-direction: row;
    align-items : center;
    justify-content: center;
    float: left;
    margin-left: 20px;            ;
    margin-top: 20px;
}
#navkiri-box-btn2 {
    border: none;
    width: 70px;
    background: transparent;
    outline: none;
    font-size: 5px;
    margin-top: 2px;
    margin-right: auto;
    margin-left: 4px;
    flex: 1;
    fill: #868585;
}
.navkiri-item-1 {
    width: 80px;
    margin-left: -20px;
    font-family: "Poppins", serif;
    font-size: 18px;
    font-style: normal;
    color: #868585;
}
.navkiri-item-2 {
    width: 80px;
    font-family: "Poppins", serif;
    margin-left: 10px;
    font-size: 17px;
    font-style: normal;
    color: black;
}
.navkiri-item-3 {
    width: 80px;
    font-family: "Poppins", serif;
    font-size: 17px;
    font-style: normal;
    color: #868585;
}
#nav-tengah {
    position: relative;
    display: flex;
    width: 700px;
    height: auto;
    justify-content: center;
}
#navtengah-img {
    margin-top: 10px;
    width: 150px;
    height: auto;
}
button {
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
}

.filter-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}

.filter-nav span {
    margin-right: 15px;
    margin-left: 30px;
    color: gray;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    cursor: pointer;
}

.filter-nav .active {
    font-weight: small;
    color: #868585;
}
.filter-nav .men {
    font-weight: small;
    color: black;
    margin-left: -520px;
}
.filter-nav .women {
    font-weight: small;
    color: #868585;
    margin-left: -950px;
}

.filter-nav .buttons button {
    padding: 5px 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    margin-right: 30px;
    margin-left: 5px;
    border-radius: 10px;
}

.product-list {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    justify-content: center;
    padding-bottom: 10px;
}

.product-card {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 200px;
}

.product-card img {
    width: 290px;
    height: 370px;
    object-fit: cover;
    border-radius: 10px;
}

.rating {
    font-size: 12px;
    margin: 5px 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.title {
    font-size: 14px;
    color: gray;
}