#body{
    background-color: #E8E8E8;
    color: black;
}
#nav-kanan {
    width: 200px;
    margin-left: 1100px;
    position: absolute;
    height: 40px;
    float: right;
}
.navkanan-search-box {
    display: flex;
    margin-top: 15px;
    align-items: center;
    background: #ffffff;
    padding: 8px 12px;
    border-radius: 15px;
    width: 180px;
}
.navkanan-search-box input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    margin-left: 8px;
    flex: 1;
    font-family: "Poppins", serif;
    font-style: normal;
}
.navkanan-search-box button {
    border: none;
    background: transparent;
    outline: none;
    font-size: 5px;
    margin-top: 2px;
    margin-right: auto;
    margin-left: 4px;
    flex: 1;
    fill: #868585;
}

#nav-kiri {
    display: flex;
    flex-direction: row;
    align-items : center;
    justify-content: center;
    float: left;
    margin-left: 30px;           
    margin-top: 10px;
}
#navkiri-box-btn2 {
    border: none;
    width: 60px;
}
.navkiri-item-1 {
    width: 80px;
    font-family: "Poppins", serif;
    font-size: 18px;
    font-style: normal;
    color: #868585;
}
.navkiri-item-2 {
    width: 80px;
    font-family: "Poppins", serif;
    font-size: 17px;
    font-style: normal;
}
.navkiri-item-3 {
    width: 80px;
    font-family: "Poppins", serif;
    font-size: 17px;
    font-style: normal;
    color: #868585;
}
#nav-tengah {
    position: absolute;
    display: flex;
    width: 700px;
    margin-top: 20px;
    height: auto;
    font-family: "Italiana", serif;
    font-size: 30px;
    margin-left: 300px;
    justify-content: center;
}
#judul-kiri {
    width: 600px;
    font-size: 90px;
    margin-left: 45px;
    position: absolute;
    margin-top: 80px;
    float: left;
    font-family: "Italiana", serif;
    font-weight: 400;
    font-style: normal;
}
#garis1 {
    justify-content: center;
    margin-top: 80px;
    position: absolute;
}


button {
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
}

.filter-nav {
    display: flex;
    position: absolute;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}

.filter-nav span {
    margin-right: 15px;
    margin-left: 30px;
    color: gray;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    cursor: pointer;
}

.filter-nav .active {
    font-weight: small;
    position: absolute;
    width: 100px;
    color: #868585;
}
.filter-nav .men {
    font-weight: small;
    position: absolute;
    color: black;
    margin-left: 160px;
}
.filter-nav .women {
    font-weight: small;
    position: absolute;
    margin-left: 230px;
}

.filter-nav .buttons .btn1 {
    padding: 5px 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    position: absolute;
    width: 80px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    margin-left: 1090px;
    border-radius: 10px;
}
.filter-nav .buttons .btn2 {
    padding: 5px 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    position: absolute;
    width: 80px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    margin-left: 1190px;
    border-radius: 10px;
}

.product-list {
    display: flex;
    position: absolute;
    margin-top: 170px;
    margin-left: 5px;
    gap: 20px;
    overflow-x: auto;
    justify-content: center;
    padding-bottom: 10px;
}

.product-card {
    background-color: #E8E8E8;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    min-width: 200px;
}

.product-card img {
    width: 290px;
    height: 370px;
    object-fit: cover;
    border-radius: 10px;
}

.rating {
    display: flex;
    align-items: center;
    margin-left: 60px;
    float: left;
    font-size: 16px;
    margin: 5px 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}

.title {
    font-size: 16px;
    margin-left: -98px;
    float: left;
    margin-top: 30px;
    color: black;
}

.product-list1 {
    display: flex;
    position: absolute;
    margin-top: 670px;
    margin-left: 5px;
    gap: 20px;
    overflow-x: auto;
    justify-content: center;
    padding-bottom: 10px;
}

.product-list1 .product-card {
    background-color: #E8E8E8;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    min-width: 200px;
}

.product-list1 .product-card img {
    width: 290px;
    height: 370px;
    object-fit: cover;
    border-radius: 10px;
}

.product-list1 .rating {
    display: flex;
    align-items: center;
    margin-left: 60px;
    float: left;
    font-size: 16px;
    margin: 5px 0;
}

.product-list1 .price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}

.product-list1 .title {
    font-size: 16px;
    margin-left: -98px;
    float: left;
    margin-top: 30px;
    color: black;
}